---
import AposArea from "@apostrophecms/apostrophe-astro/components/AposArea.astro";

const { page } = Astro.props.aposData;
---

<main class="wrap">
  <h1>{page?.title}</h1>
  <AposArea area={page?.main} />
</main>

<style>
  .wrap {
    max-width: 64rem;
    margin: 0 auto;
    padding: 2rem 1rem;
  }
</style>
